.add-cohort-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 40rem;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1000;
    background: transparent;
}

.add-cohort-contents {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 40rem;
    height: 40rem;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.top-title h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #000;
}

.top-title p {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
}

.add-cohort-contents section {
    margin-bottom: 20px;
}

.add-cohort-contents label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #6c757d;
}

.add-cohort-contents input,
.add-cohort-contents select {
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    font-size: 1rem;
    background: #f8f9fa;
}

.footnote p{
    font-size: small;
    color: #6c757d;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr;
    gap: 3rem;
    margin-top: 2rem;
}

.cancel-button Button{
    background-color: #f0f5fa;
    width: 0.5rem;
    color: #6b6b92;
}

.next-button Button{
    background-color: #000046;
    color: #fff;
}