.students-header {
    grid-column: 1 / -1;
    position: sticky;
    top: 0;
    z-index: 10;
}

.left-bar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.students-page-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: #f0f5fa;
}

.students-main {
  width: 800px;
  place-self: center;
}

.students-user-card {
  display: grid;
  grid-template-columns: 56px 1fr 40px;
  width: 100%;
}
